body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333
  }

  #contenedor-header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-primario{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li{
    width: 100px;
    height: 30px;
  }


  .Henry{
    padding-top: 5px;
    padding-left: 37px;
  }

  .menu-secundario{
    list-style: none;
    display: flex;
  }

  .parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 750px;
  }